<h3 class="form-title">Submit a New Restaurant</h3>
<form action="/new-restaurant" method="post" >
    <label for="name">Restaurant Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="name">Restaurant Menu:</label>
    <input type="text" id="name" name="menu" required><br><br>
    <label for="name">Menu Items:</label>
    <textarea id="name" name="items" required> Enter favorite menu items here separated by a comma...</textarea><br><br>
    <button type="submit" class="form-button">Submit a New Restaurant!</button>
</form>