<section>
	<h2>There are {{restaurants.length}} restaurants nearby.</h2>
	{{#each restaurants}} 
		<article class="clearfix item-container block">
			<h3>{{name}}</h3>
			<img class="item-img" src="{{image}}" />
            <div class="buttons">
			<a class="btn" href="/restaurants/{{id}}">See Restaurant</a>
            </div>
		</article>
	{{/each}}
</section>